<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="1000" alt="cognitiveclass.ai logo"  />
</center>

# Assignment: Exploratory Data Analysis with SQL

Estimated time needed: 60 minutes

# Introduction

Using this R notebook you will perform exploratory data analysis tasks using SQL queries with the RODBC R package. You will not be graded here, but you will be asked to present some of these results in your final assignment, where you will be graded on the accuracy of your results as well as the content of your SQL queries.

### Establish your Db2 connection

Load the 'RODBC' library, and use the 'odbcConnect( )' function as you did in the previous lab to establish the connection to your Db2 assets.\
Provided you successfully loaded your data into the tables in that lab, you are now ready to start running SQL queries using the RODBC library as you did in Course 3.

In [1]:
# provide your solution here
install.packages("RODBC")
library(RODBC)

package 'RODBC' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Tianyuan Zhu\AppData\Local\Temp\RtmpyYPvDq\downloaded_packages

Warning message:
"package 'RODBC' was built under R version 4.1.1"

In [2]:
library(tidyverse)

Warning message:
"package 'tidyverse' was built under R version 4.1.3"
-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.2 --
v ggplot2 3.3.6     v purrr   0.3.4
v tibble  3.1.7     v dplyr   1.0.9
v tidyr   1.2.0     v stringr 1.4.0
v readr   2.1.2     v forcats 0.5.1
Warning message:
"package 'ggplot2' was built under R version 4.1.3"
Warning message:
"package 'tibble' was built under R version 4.1.3"
Warning message:
"package 'tidyr' was built under R version 4.1.3"
Warning message:
"package 'readr' was built under R version 4.1.3"
Warning message:
"package 'purrr' was built under R version 4.1.3"
Warning message:
"package 'dplyr' was built under R version 4.1.3"
Warning message:
"package 'stringr' was built under R version 4.1.3"
Warning message:
"package 'forcats' was built under R version 4.1.3"
-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [3]:
library("RSQLite")

Warning message:
"package 'RSQLite' was built under R version 4.1.3"

In [4]:
conn <- dbConnect(RSQLite::SQLite(), "FinalDB.sqlite")

In [5]:
dbListTables(conn)

character(0)

In [6]:
seoul_bike_sharing <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/seoul_bike_sharing.csv"
download.file(seoul_bike_sharing, destfile = "raw_seoul_bike_sharing.csv")
seoul_bike_sharing_df<-read_csv("raw_seoul_bike_sharing.csv", col_types = cols('DATE' = col_character()))
str(seoul_bike_sharing_df)

spec_tbl_df [8,465 x 14] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ DATE                 : chr [1:8465] "01/12/2017" "01/12/2017" "01/12/2017" "01/12/2017" ...
 $ RENTED_BIKE_COUNT    : num [1:8465] 254 204 173 107 78 100 181 460 930 490 ...
 $ HOUR                 : num [1:8465] 0 1 2 3 4 5 6 7 8 9 ...
 $ TEMPERATURE          : num [1:8465] -5.2 -5.5 -6 -6.2 -6 -6.4 -6.6 -7.4 -7.6 -6.5 ...
 $ HUMIDITY             : num [1:8465] 37 38 39 40 36 37 35 38 37 27 ...
 $ WIND_SPEED           : num [1:8465] 2.2 0.8 1 0.9 2.3 1.5 1.3 0.9 1.1 0.5 ...
 $ VISIBILITY           : num [1:8465] 2000 2000 2000 2000 2000 ...
 $ DEW_POINT_TEMPERATURE: num [1:8465] -17.6 -17.6 -17.7 -17.6 -18.6 -18.7 -19.5 -19.3 -19.8 -22.4 ...
 $ SOLAR_RADIATION      : num [1:8465] 0 0 0 0 0 0 0 0 0.01 0.23 ...
 $ RAINFALL             : num [1:8465] 0 0 0 0 0 0 0 0 0 0 ...
 $ SNOWFALL             : num [1:8465] 0 0 0 0 0 0 0 0 0 0 ...
 $ SEASONS              : chr [1:8465] "Winter" "Winter" "Winter" "Winter" ...
 $ HOLIDAY              : chr [1:8465] "No Holiday" "No Holiday" "No Holiday" "No Holiday" ...
 $ FUNCTIONING_DAY      : chr [1:8465] "Yes" "Yes" "Yes" "Yes" ...
 - attr(*, "spec")=
  .. cols(
  ..   DATE = col_character(),
  ..   RENTED_BIKE_COUNT = col_double(),
  ..   HOUR = col_double(),
  ..   TEMPERATURE = col_double(),
  ..   HUMIDITY = col_double(),
  ..   WIND_SPEED = col_double(),
  ..   VISIBILITY = col_double(),
  ..   DEW_POINT_TEMPERATURE = col_double(),
  ..   SOLAR_RADIATION = col_double(),
  ..   RAINFALL = col_double(),
  ..   SNOWFALL = col_double(),
  ..   SEASONS = col_character(),
  ..   HOLIDAY = col_character(),
  ..   FUNCTIONING_DAY = col_character()
  .. )
 - attr(*, "problems")=<externalptr>

In [7]:
seoul_bike_sharing_df$DATE<-as.character(as.Date(seoul_bike_sharing_df$DATE, "%d/%m/%Y"))
str(seoul_bike_sharing_df)

spec_tbl_df [8,465 x 14] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ DATE                 : chr [1:8465] "2017-12-01" "2017-12-01" "2017-12-01" "2017-12-01" ...
 $ RENTED_BIKE_COUNT    : num [1:8465] 254 204 173 107 78 100 181 460 930 490 ...
 $ HOUR                 : num [1:8465] 0 1 2 3 4 5 6 7 8 9 ...
 $ TEMPERATURE          : num [1:8465] -5.2 -5.5 -6 -6.2 -6 -6.4 -6.6 -7.4 -7.6 -6.5 ...
 $ HUMIDITY             : num [1:8465] 37 38 39 40 36 37 35 38 37 27 ...
 $ WIND_SPEED           : num [1:8465] 2.2 0.8 1 0.9 2.3 1.5 1.3 0.9 1.1 0.5 ...
 $ VISIBILITY           : num [1:8465] 2000 2000 2000 2000 2000 ...
 $ DEW_POINT_TEMPERATURE: num [1:8465] -17.6 -17.6 -17.7 -17.6 -18.6 -18.7 -19.5 -19.3 -19.8 -22.4 ...
 $ SOLAR_RADIATION      : num [1:8465] 0 0 0 0 0 0 0 0 0.01 0.23 ...
 $ RAINFALL             : num [1:8465] 0 0 0 0 0 0 0 0 0 0 ...
 $ SNOWFALL             : num [1:8465] 0 0 0 0 0 0 0 0 0 0 ...
 $ SEASONS              : chr [1:8465] "Winter" "Winter" "Winter" "Winter" ...
 $ HOLIDAY              : chr [1:8465] "No Holiday" "No Holiday" "No Holiday" "No Holiday" ...
 $ FUNCTIONING_DAY      : chr [1:8465] "Yes" "Yes" "Yes" "Yes" ...
 - attr(*, "spec")=
  .. cols(
  ..   DATE = col_character(),
  ..   RENTED_BIKE_COUNT = col_double(),
  ..   HOUR = col_double(),
  ..   TEMPERATURE = col_double(),
  ..   HUMIDITY = col_double(),
  ..   WIND_SPEED = col_double(),
  ..   VISIBILITY = col_double(),
  ..   DEW_POINT_TEMPERATURE = col_double(),
  ..   SOLAR_RADIATION = col_double(),
  ..   RAINFALL = col_double(),
  ..   SNOWFALL = col_double(),
  ..   SEASONS = col_character(),
  ..   HOLIDAY = col_character(),
  ..   FUNCTIONING_DAY = col_character()
  .. )
 - attr(*, "problems")=<externalptr>

In [8]:
dbWriteTable(conn, "SEOUL_DATA", seoul_bike_sharing_df, overwrite=TRUE, header = TRUE)

## Task 1 - Record Count

#### Determine how many records are in the seoul_bike_sharing dataset.

### Solution 1

In [9]:
# provide your solution here
dbGetQuery(conn, 'SELECT count(*) FROM SEOUL_DATA')

  count(*)
1 8465

## Task 2 - Operational Hours

#### Determine how many hours had non-zero rented bike count.

### Solution 2

In [10]:
# provide your solution here
dbGetQuery(conn, 'SELECT count(HOUR) FROM SEOUL_DATA WHERE RENTED_BIKE_COUNT >0')

  count(HOUR)
1 8465

## Task 3 - Weather Outlook

#### Query the the weather forecast for Seoul over the next 3 hours.

Recall that the records in the CITIES_WEATHER_FORECAST dataset are 3 hours apart, so we just need the first record from the query.

### Solution 3

In [11]:
# provide your solution here
dbGetQuery(conn, 'SELECT * FROM SEOUL_DATA LIMIT 1')

  DATE       RENTED_BIKE_COUNT HOUR TEMPERATURE HUMIDITY WIND_SPEED VISIBILITY
1 2017-12-01 254               0    -5.2        37       2.2        2000
  DEW_POINT_TEMPERATURE SOLAR_RADIATION RAINFALL SNOWFALL SEASONS HOLIDAY
1 -17.6                 0               0        0        Winter  No Holiday
  FUNCTIONING_DAY
1 Yes

## Task 4 - Seasons

#### Find which seasons are included in the seoul bike sharing dataset.

### Solution 4

In [12]:
# provide your solution here
dbGetQuery(conn, 'SELECT DISTINCT SEASONS FROM SEOUL_DATA')

  SEASONS
1 Winter
2 Spring
3 Summer
4 Autumn

## Task 5 - Date Range

#### Find the first and last dates in the Seoul Bike Sharing dataset.

### Solution 5

In [13]:
# provide your solution here
dbGetQuery(conn, 'SELECT MIN(DATE) AS FIRST_DATE, MAX(DATE) AS LAST_DATE FROM SEOUL_DATA')

  FIRST_DATE LAST_DATE
1 2017-12-01 2018-11-30

## Task 6 - Subquery - 'all-time high'

#### determine which date and hour had the most bike rentals.

### Solution 6

In [14]:
# provide your solution here
dbGetQuery(conn, 'SELECT DATE, HOUR, RENTED_BIKE_COUNT FROM SEOUL_DATA WHERE RENTED_BIKE_COUNT = (SELECT MAX(RENTED_BIKE_COUNT) FROM SEOUL_DATA)')

  DATE       HOUR RENTED_BIKE_COUNT
1 2018-06-19 18   3556

## Task 7 - Hourly popularity and temperature by season

#### Determine the average hourly temperature and the average number of bike rentals per hour over each season. List the top ten results by average bike count.

### Solution 7

In [21]:
# provide your solution here
dbGetQuery(conn, 'SELECT SEASONS, HOUR, AVG(TEMPERATURE), AVG(RENTED_BIKE_COUNT) FROM SEOUL_DATA GROUP BY SEASONS, HOUR ORDER BY AVG(RENTED_BIKE_COUNT) DESC LIMIT 10')

   SEASONS HOUR AVG(TEMPERATURE) AVG(RENTED_BIKE_COUNT)
1  Summer  18   29.38791         2135.141
2  Autumn  18   16.03185         1983.333
3  Summer  19   28.27378         1889.250
4  Summer  20   27.06630         1801.924
5  Summer  21   26.27826         1754.065
6  Spring  18   15.97222         1689.311
7  Summer  22   25.69891         1567.870
8  Autumn  17   17.27778         1562.877
9  Summer  17   30.07691         1526.293
10 Autumn  19   15.06346         1515.568

## Task 8 - Rental Seasonality

#### Find the average hourly bike count during each season.

Also include the minimum, maximum, and standard deviation of the hourly bike count for each season.

### Solution 8

In [23]:
# provide your solution here
dbGetQuery(conn, 'SELECT SEASONS, AVG(RENTED_BIKE_COUNT), MIN(RENTED_BIKE_COUNT), MAX(RENTED_BIKE_COUNT), STDEV(RENTED_BIKE_COUNT) FROM SEOUL_DATA GROUP BY SEASONS')

  SEASONS AVG(RENTED_BIKE_COUNT) MIN(RENTED_BIKE_COUNT) MAX(RENTED_BIKE_COUNT)
1 Autumn   924.1105              2                      3298
2 Spring   746.2542              2                      3251
3 Summer  1034.0734              9                      3556
4 Winter   225.5412              3                       937
  STDEV(RENTED_BIKE_COUNT)
1 617.5479
2 618.6680
3 690.2448
4 150.3722

Let's explore a bit and see what might be the most significant contributing factors in terms of the provided data.

## Task 9 - Weather Seasonality

#### Consider the weather over each season. On average, what were the TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBILITY, DEW_POINT_TEMPERATURE, SOLAR_RADIATION, RAINFALL, and SNOWFALL per season?

Include the average bike count as well , and rank the results by average bike count so you can see if it is correlated with the weather at all.

### Solution 9

In [17]:
# provide your solution here
dbGetQuery(conn, 'SELECT SEASONS, AVG(RENTED_BIKE_COUNT), AVG(TEMPERATURE), AVG(HUMIDITY), AVG(WIND_SPEED), AVG(VISIBILITY), AVG(DEW_POINT_TEMPERATURE), AVG(SOLAR_RADIATION), AVG(RAINFALL), AVG(SNOWFALL) FROM SEOUL_DATA GROUP BY SEASONS ORDER BY AVG(RENTED_BIKE_COUNT) DESC')

  SEASONS AVG(RENTED_BIKE_COUNT) AVG(TEMPERATURE) AVG(HUMIDITY) AVG(WIND_SPEED)
1 Summer  1034.0734              26.587711        64.98143      1.609420
2 Autumn   924.1105              13.821580        59.04491      1.492101
3 Spring   746.2542              13.021685        58.75833      1.857778
4 Winter   225.5412              -2.540463        49.74491      1.922685
  AVG(VISIBILITY) AVG(DEW_POINT_TEMPERATURE) AVG(SOLAR_RADIATION) AVG(RAINFALL)
1 1501.745         18.750136                 0.7612545            0.25348732
2 1558.174          5.150594                 0.5227827            0.11765617
3 1240.912          4.091389                 0.6803009            0.18694444
4 1445.987        -12.416667                 0.2981806            0.03282407
  AVG(SNOWFALL)
1 0.00000000
2 0.06350026
3 0.00000000
4 0.24750000

## Task 10 - Total Bike Count and City Info for Seoul

#### Use an implicit join across the WORLD_CITIES and the BIKE_SHARING_SYSTEMS tables to determine the total number of bikes avaialble in Seoul, plus the following city information about Seoul: CITY, COUNTRY, LAT, LON, POPULATION, in a single view.

Notice that in this case, the CITY column will work for the WORLD_CITIES table, but in general you would have to use the CITY_ASCII column.

### Solution 10

In [18]:
# provide your solution here

## Task 11 - Find all city names and coordinates with comparable bike scale to Seoul's bike sharing system

#### Find all cities with total bike counts between 15000 and 20000. Return the city and country names, plus the coordinates (LAT, LNG), population, and number of bicycles for each city.

Later we will ask you to visualize these similar cities on leaflet, with some weather data.

### Solution 11

In [19]:
# provide your solution here

In [20]:
close(conn)

ERROR: Error in UseMethod("close"): no applicable method for 'close' applied to an object of class "c('SQLiteConnection', 'DBIConnection', 'DBIObject')"

## Author(s)

<h4> Jeff Grossman </h4>

## Contributor(s)

<h4> Yan Luo, Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description                  |
| ---------- | ------- | ------------- | ----------------------------------- |
| 2021-05-04 | 0.2     | Jeff Grossman | Finalize                            |
| 2021-04-22 | 0.2     | Jeff Grossman | Update as per peer review           |
| 2021-04-10 | 0.2     | Jeff Grossman | Add data sources and implicit joins |
| 2021-04-05 | 0.1     | Jeff Grossman | Start content creation              |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>